[Desktop Entry]
Name=Kookbook
Name[ca]=Kookbook
Name[ca@valencia]=Kookbook
Name[cs]=Kookbook
Name[de]=Kookbook
Name[el]=Kookbook
Name[en_GB]=Kookbook
Name[eo]=Kookbook
Name[es]=Kookbook
Name[eu]=Kookbook
Name[fi]=Kookbook
Name[fr]=Kookbook
Name[gl]=Kookbook
Name[hi]=कुकबुक
Name[it]=Kookbook
Name[ka]=Kookbook
Name[ko]=Kookbook
Name[nl]=Kookboek
Name[nn]=Kookbook
Name[pl]=Kookbook
Name[pt]=Kookbook
Name[pt_BR]=Kookbook
Name[ro]=Kookbook
Name[sk]=Kookbook
Name[sl]=Kookbook
Name[sv]=Kokbok
Name[tr]=Kookbook
Name[uk]=Kookbook
Name[x-test]=xxKookbookxx
Name[zh_CN]=Kookbook
Name[zh_TW]=Kookbook
GenericName=Touch Friendly Recipe manager
GenericName[ca]=Gestor tàctil de fàcil ús per a receptes
GenericName[ca@valencia]=Gestor tàctil de fàcil ús per a receptes
GenericName[de]=Rezeptverwaltung für Touch-Geräte
GenericName[el]=Διαχειριστής συνταγών φιλικός σε οθόνες αφής
GenericName[en_GB]=Touch Friendly Recipe manager
GenericName[eo]=Tuŝkonvena receptomastrumilo
GenericName[es]=Gestor de recetas táctil
GenericName[eu]=Ukimenarekiko lagunkoia den errezeta kudeatzailea
GenericName[fi]=Kosketusystävällinen reseptinhallinta
GenericName[fr]=Gestionnaire de recettes facile et tactile
GenericName[gl]=Xestor de receitas axeitado para toque
GenericName[hi]=स्पर्शानुकूल पाक विधि प्रबंधक
GenericName[it]=Gestore delle ricette per schermi tattili
GenericName[ka]=რეცეპტების სენსორულ ეკრანთან თავსებადი მმართველი
GenericName[ko]=터치 친화적 레시피 관리자
GenericName[nl]=Aanraakvriendelijke beheerder van recepten
GenericName[nn]=Trykkskjermvennleg program for matoppskrifter
GenericName[pl]=Zarządzanie przepisami przyjazne dotykowi
GenericName[pt]=Gestor de receitas amigável para ecrãs tácteis
GenericName[pt_BR]=Gerenciador de receitas amigável ao toque
GenericName[sk]=Dotykovo priateľský správca receptov 
GenericName[sl]=Dotikom prijazen upravitelj receptov
GenericName[sv]=Pekvänlig recepthanterare
GenericName[tr]=Dokunmatik Girdi Dostu Tarif Yöneticisi
GenericName[uk]=Програма для керування рецептами для сенсорного екрана
GenericName[x-test]=xxTouch Friendly Recipe managerxx
GenericName[zh_CN]=触屏友好的食谱管理器
GenericName[zh_TW]=對觸控友善的食譜管理員
Comment=Touch Friendly Simple recipe collection handling application
Comment[ca]=Aplicació tàctil de fàcil ús per a la gestió de col·leccions de receptes
Comment[ca@valencia]=Aplicació tàctil de fàcil ús per a la gestió de col·leccions de receptes
Comment[de]=Eine einfache Anwendung für Rezeptsammlungen auf Touch-Geräten
Comment[el]=Φιλική σε οθόνες αφής εφαρμογή διαχείρισης συλλογής απλών συνταγών
Comment[en_GB]=Touch Friendly Simple recipe collection handling application
Comment[eo]=Tuŝkonvena simpla receptarotrakta aplikaĵo
Comment[es]=Sencilla aplicación táctil de gestión de colecciones de recetas
Comment[eu]=Ukimenarekiko lagunkoia den errezeta-bilduma erabiltzeko aplikazio sinplea
Comment[fi]=Kosketusystävällinen yksinkertainen reseptikokoelmanhallintasovellus
Comment[fr]=Application tactile et facile pour la gestion de collection de recettes simples
Comment[gl]=Aplicación sinxela e axeitada para toque para xestionar coleccións de receitas
Comment[hi]=स्पर्शानुकूल सरल पाक विधि प्रबंधक अनुप्रयोग
Comment[it]=Semplice applicazione di gestione delle raccolte di ricette per schermi tattili
Comment[ka]=რეცეპტების შესაგროვებელი სენსორულ ეკრანთან თავსებადი მარტივი აპლიკაცია
Comment[ko]=터치 친화적 간단한 레시피 모음 관리 도구
Comment[nl]=Aanraakvriendelijke eenvoudige toepassing voor het behandelen een verzameling van recepten
Comment[nn]=Trykkskjermvennleg program for samling av matoppskrifter
Comment[pl]=Prosty i przyjazny dotykowi program do zarządzania zebranymi przepisami
Comment[pt]=Aplicação simples de tratamento de colecções de receitas adequada para ecrãs tácteis
Comment[pt_BR]=Aplicativo simples para gerenciar coleção de receitas amigável ao toque
Comment[sk]=Dotykovo priateľská jednoduchá aplikácia na správu receptov
Comment[sl]=Dotikom prijazen enostaven program za obdelavo zbirke receptov
Comment[sv]=Pekvänligt enkelt program för receptsamlingshantering
Comment[tr]=Dokunmatik Girdi Dostu, Yemek Tarifi Koleksiyonu Yönetme Uygulaması
Comment[uk]=Проста програма для керування збіркою рецептів за допомогою сенсорного інтерфейсу
Comment[x-test]=xxTouch Friendly Simple recipe collection handling applicationxx
Comment[zh_CN]=触摸友好的简易食谱收集处理应用
Comment[zh_TW]=對觸控友善的簡易食譜收藏管理應用程式
Exec=kookbooktouch
Icon=kookbook
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;Viewer;TextTools;Art;Qt;
