[Desktop Entry]
Name=Kookbook
Name[es]=Kookbook
Name[fr]=Kookbook
Name[pt]=Kookbook
Name[sk]=Kookbook
Name[sl]=Kookbook
Name[x-test]=xxKookbookxx
GenericName=Recipe manager
GenericName[es]=Gestor de recetas
GenericName[fr]=Gestionnaire de recettes
GenericName[pt]=Gestor de receitas
GenericName[sk]=Správca receptov
GenericName[sl]=Upravljavec receptov
GenericName[x-test]=xxRecipe managerxx
Comment=Simple recipe collection handling application
Comment[fr]=Application de gestion de collection de recettes simples
Comment[pt]=Aplicação simples de tratamento de colecções de receitas
Comment[sk]=Jednoduchá aplikácia na správu receptov
Comment[sl]=Preprost program za upravljanje zbirke receptov
Comment[x-test]=xxSimple recipe collection handling applicationxx
Exec=kookbook
Icon=kookbook
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;Viewer;TextTools;Art;Qt;
