[Desktop Entry]
Name=Kookbook
GenericName=Recipe manager
Comment=Simple recipe collection handling application
Exec=kookbook
Icon=kookbook
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;Viewer;TextTools;Art;Qt;
