[Desktop Entry]
Name=Kookbook
Name[ca]=Kookbook
Name[ca@valencia]=Kookbook
Name[cs]=Kookbook
Name[de]=Kookbook
Name[el]=Kookbook
Name[en_GB]=Kookbook
Name[es]=Kookbook
Name[eu]=Kookbook
Name[fi]=Kookbook
Name[fr]=Kookbook
Name[hi]=कुकबुक
Name[it]=Kookbook
Name[ka]=Kookbook
Name[ko]=Kookbook
Name[nl]=Kookboek
Name[nn]=Kookbook
Name[pl]=Kookbook
Name[pt]=Kookbook
Name[pt_BR]=Kookbook
Name[ro]=Kookbook
Name[sk]=Kookbook
Name[sl]=Kookbook
Name[sv]=Kokbok
Name[tr]=Kookbook
Name[uk]=Kookbook
Name[x-test]=xxKookbookxx
Name[zh_CN]=Kookbook
GenericName=Recipe manager
GenericName[ca]=Gestor de receptes
GenericName[ca@valencia]=Gestor de receptes
GenericName[cs]=Správce receptů
GenericName[de]=Rezeptverwaltung
GenericName[el]=Διαχειριστής συνταγών
GenericName[en_GB]=Recipe manager
GenericName[es]=Gestor de recetas
GenericName[eu]=Errezeta kudeatzailea
GenericName[fi]=Reseptinhallinta
GenericName[fr]=Gestionnaire de recettes
GenericName[hi]=पाक विधि प्रबंधक
GenericName[it]=Gestore delle ricette
GenericName[ka]=რეცეპტების მმართველი
GenericName[ko]=레시피 관리자
GenericName[nl]=Beheerder van recepten
GenericName[nn]=Matoppskriftsprogram
GenericName[pl]=Zarządzanie przepisami
GenericName[pt]=Gestor de receitas
GenericName[pt_BR]=Gerenciador de receitas
GenericName[ro]=Gestionar de rețete
GenericName[sk]=Správca receptov
GenericName[sl]=Upravljavec receptov
GenericName[sv]=Recepthanterare
GenericName[tr]=Tarif yöneticisi
GenericName[uk]=Програма для керування рецептами
GenericName[x-test]=xxRecipe managerxx
GenericName[zh_CN]=食谱管理器
Comment=Simple recipe collection handling application
Comment[ca]=Aplicació per a la gestió de col·leccions de receptes
Comment[ca@valencia]=Aplicació per a la gestió de coleccions de receptes
Comment[de]=Eine einfache Anwendung für Rezeptsammlungen
Comment[el]=Εφαρμογή διαχείρισης συλλογής απλών συνταγών
Comment[en_GB]=Simple recipe collection handling application
Comment[es]=Sencilla aplicación de gestión de colecciones de recetas
Comment[eu]=Errezeta-bilduma erabiltzeko aplikazio sinplea
Comment[fi]=Yksinkertainen reseptikokoelmanhallintasovellus
Comment[fr]=Application de gestion de collection de recettes simples
Comment[hi]=सरल पाक विधि प्रबंधक अनुप्रयोग
Comment[it]=Semplice applicazione di gestione di raccolte di ricette
Comment[ka]=რეცეპტების შესაგროვებელი მარტივი აპლიკაცია
Comment[ko]=간단한 레시피 모음 관리 도구
Comment[nl]=Eenvoudige toepassing voor het behandelen een verzameling van recepten
Comment[nn]=Enkelt program for samling av matoppskrifter
Comment[pl]=Prosty program do zarządzania zebranymi przepisami
Comment[pt]=Aplicação simples de tratamento de colecções de receitas
Comment[pt_BR]=Aplicativo simples para gerenciar coleção de receitas
Comment[sk]=Jednoduchá aplikácia na správu receptov
Comment[sl]=Preprost program za upravljanje zbirke receptov
Comment[sv]=Enkelt program för receptsamlingshantering
Comment[tr]=Yalın bir tarif koleksiyonu işleme uygulaması
Comment[uk]=Проста програма для керування збіркою рецептів
Comment[x-test]=xxSimple recipe collection handling applicationxx
Comment[zh_CN]=简易食谱收集处理应用
Exec=kookbook
Icon=kookbook
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility;Viewer;TextTools;Art;Qt;
